/* Color Variables */
:root {
    --color-primary: hsl(233, 72%, 39%);
    --color-neutral: hsl(0, 0%, 65%);
    --color-success: hsl(132, 89%, 24%);
    --color-fail: hsl(0, 80%, 27%);
}

/* General Stylings and Layout */
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 4rem 0 1rem;
}

button {
    border: none;
    background-color: transparent;
}

.btn {
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-neutral);
    color: white;
    padding: 0.5rem 1.25rem;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-primary);
}

.bold {
    font-weight: 800;
}

/* Components and layout areas */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    position: fixed;
    top: 0;
    margin: 1rem;
}

/* Help icon displays a question mark in the top right corner */
.help {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--color-neutral);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.help:hover {
    background-color: var(--color-primary);
}

/* For the word to be found */
.word-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

/* This is for each individual letter space */
.word-space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    padding: 0.5rem;
    min-height: 1rem;
    min-width: 1rem;
    border-bottom: 1px solid black;
}

/* Displays a full alphabetical onscreen keyboard */
.keyboard-area {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.key {
    margin: 0.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border: 1px solid darkgray;
    border-radius: 0.25rem;
    cursor: pointer;
    grid-column: span 2;
}

.key:hover {
    background-color: hsl(0, 0%, 84%);
}

/* Colors for correctly and incorrectly guessed letters */
.success, .success:hover {
    background-color: var(--color-success);
    color: white;
}

.fail, .fail:hover {
    background-color: var(--color-fail);
    color: white;
}

/* Positioning for all of the keyboard keys
  The keyboard is generated through JavaScript
  A CSS Grid is used with 20 columns, for each key to use
  two columns, and this also allows the middle and bottom rows
  to be offset*/

/* Positions first 10 characters on the top row */
.row-1 {
    grid-row: 1 / 2;
}

/* Pushes 11th character onwards to row 2 */
.key:nth-child(11) {
    grid-column: 2 / 4;
}

/* Pushes the last 7 characters to line three */
.key:nth-child(20) { grid-column: 3 / 5; }
.key:nth-child(21) { grid-column: 5 / 7; }
.key:nth-child(22) { grid-column: 7 / 9; }
.key:nth-child(23) { grid-column: 9 / 11; }
.key:nth-child(24) { grid-column: 11 / 13; }
.key:nth-child(25) { grid-column: 13 / 15; }
.key:nth-child(26) { grid-column: 15 / 17; }

.row-2 {
    grid-row: 2 / 3;
}

.row-3 {
    grid-row: 3 / 4;
}

/* For the countdown for tries remaining */
.count {
    text-align: center;
}

/* Used by the Won / Lost alert, along with for the help text */
.modal {
    position: fixed;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.9);
    color: black;
    box-shadow: 0 0 35px 8px hsl(0, 0%, 90%);
}

/* Specific to the help text modal */
.help-modal {
    height: 80vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    /* Modal is positioned offscreen, and brought in by clicking
    the question mark
    Clicking the question mark again, or anywhere inside the modal,
    will clear it from the screen */
    transform: translateY(100vh);
    transition: transform 0.5s ease;
}

.help-modal > p {
    padding: 0 3rem;
}

/* This toggles the class to bring in the help text */
.help-modal-active {
    transform: translateY(0);
    transition: transform 0.5s ease;
}